label {
  display: flex;
  flex-direction: column-reverse;
}
label > span {
  transition: all 0.2s;
  transform-origin: top left;
}
label > input[placeholder=' ']:not(:focus):placeholder-shown + span {
  transform: translateY(1em) scale(1.25);
  pointer-events: none;
  opacity: 0.5;
}
.c-form-row {
  width: 50rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}
.customer-form {
  margin-bottom: 3rem;
}
.customer-container {
  display: flex;
}

.customer-container input {
  margin-right: 2rem;
  height: 3em;
  width: 20em;
}
.customer-container span {
  font-size: 20px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 5em;
}
.summary-container {
  display: flex;
  flex-direction: column;
  margin: 3em 0;
  border: 1px solid black;
  padding: 1em;
  width: fit-content;
}
.sum-info {
  display: flex;
  flex-direction: column;
  margin: 0 4em;
}
.return-sum {
  display: flex;
  flex-direction: row;
}
@media (max-width: 600px) {
  .c-form-row {
    flex-direction: column;
  }
  .return-sum {
    flex-direction: column;
  }
}
